@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, p, .liste__bouton {
  font-family: "roboto", sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 100%;
    margin: auto;
  }
}

#container {
  position: absolute;
  left: 20px;
  top: 25px;
}
@media screen and (max-width: 768px) {
  #container {
    display: none;
  }
}

.content__entete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0 10px 0;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .content__entete {
    width: 100%;
    padding: 30px 0 10px 0;
    margin-bottom: 5px;
    background-color: white;
  }
}
.content__entete img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
}
@media screen and (max-width: 768px) {
  .content__entete img {
    width: 200px;
  }
}
.content__entete i {
  display: none;
}
@media screen and (max-width: 768px) {
  .content__entete i {
    display: initial;
    position: absolute;
    left: 20px;
    top: 35px;
    font-size: 22px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: initial;
    padding: 0 0 50px 0;
  }
}
.footer p {
  margin: 0 0 0 30px;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .footer p {
    margin: 0 0 10px 30px;
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer p {
    margin: 0 0 0 20px;
  }
}
.footer h4 {
  font-family: "shrikhand";
  font-size: 22px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .footer h4 {
    margin: 30px 0 30px 30px;
  }
}
.footer i {
  margin-right: 10px;
  font-size: 18px;
}
.footer a {
  color: white;
}

/* Bouton animée commande + explorer nos restaurants */
.center {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 22px;
  font-family: verdana;
}
@media screen and (max-width: 768px) {
  .center {
    display: none;
  }
}
.center:hover span:nth-child(1):before {
  transform: rotateX(0deg) translateY(0%);
}
.center:hover span:nth-child(2):before {
  transform: rotateX(0deg) translateY(0%);
}
.center:hover span:nth-child(3):before {
  transform: rotateX(0deg) translateY(0%);
}
.center:hover span:nth-child(1):after {
  transform: rotateX(90deg) translateY(50%);
}
.center:hover span:nth-child(2):after {
  transform: rotateX(90deg) translateY(-50%);
}
.center:hover span:nth-child(3):after {
  transform: rotateX(90deg) translateY(50%);
}
.center > span {
  padding: 15px;
  transition: 0.5s;
  position: relative;
}
.center > span:nth-child(1) {
  color: #fff;
  /* background: $couleur-primaire; */
}
.center > span:nth-child(1):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  transition: 0.5S;
  background: #FF79DA;
  transform-origin: top;
  transform: rotateX(90deg) translateY(-50%);
}
.center > span:nth-child(1):after {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  transition: 0.5S;
  background: #9356DC;
  transform-origin: bottom;
  transform: rotateX(0deg) translateY(0%);
}
.center > span:nth-child(2) {
  color: #fff;
  /* background: $couleur-secondaire; */
}
.center > span:nth-child(2):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  transition: 0.5S;
  background: #9356DC;
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(50%);
}
.center > span:nth-child(2):after {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  transition: 0.5S;
  background: #FF79DA;
  transform-origin: top;
  transform: rotateX(0deg) translateY(0%);
}
.center > span:nth-child(3) {
  color: #fff;
  /* background: $couleur-primaire; */
}
.center > span:nth-child(3):before {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  transition: 0.5S;
  background: #FF79DA;
  transform-origin: top;
  transform: rotateX(90deg) translateY(-50%);
}
.center > span:nth-child(3):after {
  content: attr(data-attr);
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  transition: 0.5S;
  background: #9356DC;
  transform-origin: bottom;
  transform: rotateX(0deg) translateY(0%);
}

.liste {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .liste {
    align-items: initial;
  }
}
.liste__localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .liste__localisation {
    background-color: #e6e6e5;
    font-size: 20px;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .liste__localisation {
    background-color: #e6e6e5;
    font-size: 20px;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
  }
}
.liste__localisation p {
  font-weight: bold;
}
.liste__localisation i {
  margin-right: 20px;
}
.liste__reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  padding: 30px 20px 60px 20px;
  font-size: 15px;
  background-color: #e6e6e5;
  border-radius: 25px;
  background: #f3f3f2;
}
@media screen and (max-width: 768px) {
  .liste__reservation {
    width: auto;
    border-radius: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .liste__reservation {
    width: 80%;
  }
}
.liste__reservation h1 {
  font-weight: bold;
}
.liste__reservation p {
  margin-top: 0;
  font-size: 19px;
}
.liste__bouton {
  display: none;
}
@media screen and (max-width: 768px) {
  .liste__bouton {
    display: initial;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(175deg, #FF79DA 0%, #9356DC 70%);
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 20px 0 0 0;
  }
  .liste__bouton:hover, .liste__bouton:active {
    background: linear-gradient(175deg, #FF79DA 100%, #9356DC 70%);
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement h2 {
  margin: 60px 0 30px 100px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .fonctionnement h2 {
    margin: 60px 0 30px 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement h2 {
    margin: 60px 0 30px 15px;
  }
}
.fonctionnement__grandblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .fonctionnement__grandblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.fonctionnement__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 200px;
  margin-bottom: 20px;
  background-color: #e6e6e5;
  background: #f3f3f2;
  border-radius: 25px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear 0s;
}
.fonctionnement__block:hover, .fonctionnement__block:active {
  background: #fface8;
}
.fonctionnement__block:hover .fonctionnement__chiffre, .fonctionnement__block:active .fonctionnement__chiffre {
  transition: all 0.3s linear 0s;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  .fonctionnement__block:hover .fonctionnement__chiffre, .fonctionnement__block:active .fonctionnement__chiffre {
    bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .fonctionnement__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: start;
    width: 85%;
    height: 70px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__block {
    width: 30%;
  }
}
.fonctionnement__block p {
  font-weight: bold;
}
.fonctionnement__etape {
  position: relative;
  bottom: -50px;
}
@media screen and (max-width: 768px) {
  .fonctionnement__etape {
    position: relative;
    bottom: 0;
    right: 20px;
    margin-left: 80px;
  }
}
.fonctionnement__chiffre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 60px;
  background-color: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 80px;
  transition: all 0.3s linear 0s;
}
@media screen and (max-width: 768px) {
  .fonctionnement__chiffre {
    position: relative;
    right: 12px;
    font-size: 14px;
    bottom: 0;
    transition: none;
  }
}
.fonctionnement i {
  position: relative;
  bottom: 0;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .fonctionnement i {
    position: relative;
    left: 30px;
    bottom: 0;
    color: grey;
    font-size: 18px;
  }
}

.restaurant {
  background-color: #e6e6e5;
  background: #f3f3f2;
  padding: 10px 0 50px 0;
}
.restaurant h2 {
  margin: 60px 0 30px 100px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .restaurant h2 {
    margin: 60px 0 30px 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurant h2 {
    margin: 60px 0 30px 15px;
  }
}
.restaurant h3 {
  margin: 0 0 0 15px;
  font-weight: bold;
}
.restaurant p {
  margin: 5px 0 0 15px;
}
.restaurant__nouveau {
  position: absolute;
  background-color: #99E2D0;
  padding: 8px 15px;
  border-radius: 3px;
  margin: 15px 0 0 15px !important;
  font-weight: bold;
  color: #278870;
}
@media screen and (max-width: 768px) {
  .restaurant__nouveau {
    right: 30px;
  }
}
.restaurant__grandblock {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .restaurant__grandblock {
    flex-direction: column;
  }
}
.restaurant__grandblock > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .restaurant__grandblock > a {
    margin-bottom: 20px;
  }
}
.restaurant__petitblock {
  background-color: white;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}
.restaurant__petitblock:hover, .restaurant__petitblock:active {
  transform: scale(1.03);
}
@media screen and (max-width: 768px) {
  .restaurant__petitblock {
    width: 90%;
    height: 250px;
  }
}
.restaurant__image img {
  height: 420px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  margin: 0 0 5px 0;
}
@media screen and (max-width: 768px) {
  .restaurant__image img {
    height: 170px;
  }
}
.restaurant__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__heart {
  display: flex;
  padding: 0 20px 0 0;
  font-size: 30px;
  position: relative;
}
.restaurant__heart__contenu {
  transition: all 0.3s linear 0s;
  color: transparent;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
}
.restaurant__heart__contenu:hover {
  height: 100%;
  color: #FF79DA;
}
.restaurant__heart:hover, .restaurant__heart:active {
  color: transparent;
  transition: all 0.3s linear 0s;
}

@media screen and (max-width: 768px) {
  .image {
    display: flex;
    flex-direction: column;
  }
}
.image img {
  display: flex;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e5;
  background: #f3f3f2;
}
@media screen and (max-width: 768px) {
  .menu {
    margin-top: -80px;
    border-radius: 50px 50px 0 0;
  }
}
.menu__grandblock {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .menu__grandblock {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__grandblock {
    flex-direction: column;
  }
}
.menu__grandliste {
  display: flex;
  flex-direction: column;
  width: 20%;
}
@media screen and (max-width: 768px) {
  .menu__grandliste {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__grandliste {
    width: 100%;
  }
}
.menu__grandliste > h3 {
  position: relative;
  margin: 50px 0 20px 0;
}
@media screen and (max-width: 768px) {
  .menu__grandliste > h3 {
    margin: 20px 0 20px 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__grandliste > h3 {
    margin: 20px 0 20px 20px;
  }
}
.menu__grandliste > h3:after {
  content: "";
  width: 50px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  left: 0px;
  bottom: -5px;
}
@media screen and (max-width: 768px) {
  .menu__grandliste > h3:after {
    left: 0px;
  }
}
.menu__titre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .menu__titre {
    justify-content: space-between;
    padding: 0 40px 0 25px;
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__titre {
    justify-content: space-between;
    padding: 0 0 0 25px;
    width: 80%;
  }
}
.menu__titre > h2 {
  font-family: "shrikhand";
  font-size: 26px;
}
.menu__titre > i {
  font-size: 26px;
}
.menu__liste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 100px 0;
}
@media screen and (max-width: 768px) {
  .menu__liste {
    margin: 0;
  }
}
.menu .plats-1 {
  animation-delay: 300ms;
}
.menu .plats-2 {
  animation-delay: 500ms;
}
.menu .plats-3 {
  animation-delay: 700ms;
}
.menu .plats-4 {
  animation-delay: 900ms;
}
.menu .plats-5 {
  animation-delay: 1100ms;
}
.menu .plats-6 {
  animation-delay: 1300ms;
}
.menu .plats-7 {
  animation-delay: 1500ms;
}
.menu .plats-8 {
  animation-delay: 1700ms;
}
.menu .plats-9 {
  animation-delay: 1900ms;
}
.menu .plats-10 {
  animation-delay: 2100ms;
}
.menu__plat {
  opacity: 0;
  display: flex;
  background-color: white;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 0 20px 0;
  padding-left: 10px;
  animation: plat-apparition 2s cubic-bezier(0.24, 0.68, 0.61, 1.02) alternate forwards;
}
.menu__plat:hover .menu__checkbox, .menu__plat:active .menu__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: checkbox-apparition 400ms linear alternate forwards;
}
.menu__plat:hover i, .menu__plat:active i {
  animation: checkspin 400ms linear alternate forwards;
}
.menu__plat:hover .menu__plat, .menu__plat:active .menu__plat {
  animation: plat 400ms linear alternate forwards;
}
@media screen and (max-width: 768px) {
  .menu__plat {
    width: 90%;
    height: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__plat {
    width: 70%;
  }
}
.menu__plat h3 {
  margin: 15px 0 0 0;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .menu__plat h3 {
    margin: 5px 0 0 0;
  }
}
.menu__plat__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__plat__text > p, .menu__plat__text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu__plat__text > p, .menu__plat__text h3 {
    margin: 5px 0 0 0;
  }
}
.menu__plat__prix {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
  height: 100%;
  margin: 0 3% 0 3%;
  padding-bottom: 5px;
}
.menu__plat__prix > p, .menu__plat__prix > h3 {
  margin: 5px 10px 10px 0px;
  padding-bottom: 2px;
}
@media screen and (max-width: 768px) {
  .menu__plat__prix > p, .menu__plat__prix > h3 {
    margin: 0;
    padding-bottom: 0;
  }
}
.menu .menu__checkbox {
  opacity: 0;
  color: white;
  background: #99E2D0;
  width: 0;
  font-size: 1.5em;
  height: 100%;
}
.menu__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}
.menu__heart {
  display: flex;
  font-size: 30px;
  position: relative;
}
.menu__heart__contenu {
  transition: all 0.3s linear 0s;
  color: transparent;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
}
.menu__heart__contenu:hover, .menu__heart__contenu:active {
  height: 100%;
  color: #FF79DA;
}
.menu__heart:hover {
  color: transparent;
  transition: all 0.3s linear 0s;
}
.menu__bold {
  font-weight: bold;
}

.commander {
  display: none;
}
@media screen and (max-width: 768px) {
  .commander {
    display: initial;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(175deg, #FF79DA 0%, #9356DC 70%);
    border: none;
    font-size: 18px;
    color: white;
    margin: 50px 0 100px 0;
    font-family: "roboto";
  }
  .commander:hover, .commander:active {
    background: linear-gradient(175deg, #FF79DA 100%, #9356DC 70%);
  }
}

.bouton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .bouton {
    margin-bottom: 0;
  }
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  background: #f3f8fa;
}

div.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
div.learn-more.learn-more {
  display: flex;
  flex-direction: row-reverse;
  width: 12rem;
  height: auto;
}
div.learn-more.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #9356DC;
  border-radius: 1.625rem;
}
div.learn-more.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
div.learn-more.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 1.4rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
div.learn-more.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  left: -0.09rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(225deg);
}
div.learn-more.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: transparent;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
div.learn-more:hover .circle {
  width: 100%;
}
div.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(7rem, 0);
}
div.learn-more:hover .button-text {
  color: #fff;
}

@keyframes plat {
  0% {
    width: 100%;
  }
  100% {
    width: 85%;
  }
}
@keyframes checkspin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes checkbox-apparition {
  0% {
    width: 0;
    opacity: 1;
    background: #99E2D0;
  }
  100% {
    opacity: 1;
    width: 15%;
    background: #99E2D0;
  }
}
@keyframes plat-apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform-origin: bottom;
  }
}
@keyframes disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes zoom {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background: #fff;
  animation: disparition 0s linear 3s forwards;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#loader__content {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border: 10px solid transparent;
  border-bottom: solid 5px #FF79DA;
  background: transparent;
  z-index: 2;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: spin 1s linear infinite;
}
#loader__content:before {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: #9356DC;
  position: absolute;
  animation: zoom 3s linear infinite;
}
#loader__content:after {
  content: "";
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 10px solid transparent;
  border-bottom: solid 5px #99E2D0;
  background: transparent;
  z-index: 2;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: spin2 1s linear infinite;
}

/*# sourceMappingURL=style.css.map */
