@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap');
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, p, .liste__bouton {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
}

.content {
    @include mobile {
    max-width: 100%;
    margin: auto;
    }
}

#container {
    position : absolute;
    left: 20px;
    top: 25px;

    @include mobile {
        display: none;
    }
}

.content__entete {
    @include displayrow;
    width: 100%;
    padding: 30px 0 10px 0;
    margin-bottom: 5px;

    @include mobile  {
        width: 100%;
        padding: 30px 0 10px 0;
        margin-bottom: 5px;
        background-color: white;
    }

    & img {
        @include displayrow;
        width: 250px;

        @include mobile {
            width: 200px;
        }
    }

    & i {
        display: none;
        @include mobile {
            display: initial;
    position : absolute;
    left: 20px;
    top: 35px;
    font-size: 22px;
        }
    }

}

.footer {
    @include displayrow;
    @include lightfooter;
    color: white;
    padding: 50px 0;
    @include mobile {
    flex-direction: column;
    align-items: initial;
    padding: 0 0 50px 0;
    }

    & p {
        margin: 0 0 0 30px;
        font-size: 18px;
        font-weight: $bold;

        @include mobile {
            margin: 0 0 10px 30px;
            font-size: 22px;
        }

        @include tablette {
            margin: 0 0 0 20px;
        }
    }

    & h4 {
        font-family: 'shrikhand';
        font-size: 22px;
        margin: 0;

        @include mobile {
        margin: 30px 0 30px 30px;
        }
    }

    & i {
        margin-right: 10px;
        font-size: 18px;
    }

    & a {
        color: white;
    }

}

/* Bouton animée commande + explorer nos restaurants */
  .center   {
      display: flex;
      flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 22px;
    font-family: verdana;

    @include mobile {
        display: none;
    }
    &:hover{

        & span:nth-child(1):before {
            transform: rotateX(0deg) translateY(0%);
        }

        & span:nth-child(2):before {
            transform: rotateX(0deg) translateY(0%);
        }

        & span:nth-child(3):before {
            transform: rotateX(0deg) translateY(0%);
        }

        & span:nth-child(1):after {
            transform: rotateX(90deg) translateY(50%);
        }

        & span:nth-child(2):after {
            transform: rotateX(90deg) translateY(-50%);
        }

        & span:nth-child(3):after {
            transform: rotateX(90deg) translateY(50%);
        }

    }

  & > span {
      padding: $padding-bouton;
      transition: $transition-bouton;
      position: relative;

      &:nth-child(1) {
          color:$white;

          &:before {
              @include bouton-anim;
              background: $couleur-secondaire;
              transform-origin: top;
              transform: rotateX(90deg) translateY(-50%);
          }

          &:after {
              @include bouton-anim;
              background: $couleur-primaire;
              transform-origin: bottom;
              transform: rotateX(0deg) translateY(0%);
          }
      }
      &:nth-child(2) {
          color: $white;

          &:before {
              @include bouton-anim;
              background: $couleur-primaire;
              transform-origin: bottom;
              transform: rotateX(90deg) translateY(50%);
          }

          &:after {
              @include bouton-anim;
              background: $couleur-secondaire;
              transform-origin: top;
              transform: rotateX(0deg) translateY(0%);
          }
      }

      &:nth-child(3) {
        color:$white;
        /* background: $couleur-primaire; */

        &:before {
            @include bouton-anim;
            background: $couleur-secondaire;
            transform-origin: top;
            transform: rotateX(90deg) translateY(-50%);
        }

        &:after {
            @include bouton-anim;
            background: $couleur-primaire;
            transform-origin: bottom;
            transform: rotateX(0deg) translateY(0%);
        }
    }

  }
}
