@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap');
body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, p, .liste__bouton {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
}

.content {
    @include mobile {
    max-width: 100%;
    margin: auto;
    }
}

.content__entete {
    @include displayrow;
    width: 100%;
    padding: 30px 0 10px 0;
    margin-bottom: 5px;

    @include mobile  {
        width: 100%;
        padding: 30px 0 10px 0;
        margin-bottom: 5px;
        background-color: white;
    }

    & img {
        @include displayrow;
        width: 250px;

        @include mobile {
            width: 200px;
        }
    }

    & i {
    position : absolute;
    left: 20px;
    top: 35px;
    font-size: 22px;
    }

}

.footer {
    @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include lightfooter;
    color: white;
    padding-bottom: 50px;
    }

    & p {
        margin: 0 0 10px 30px;
        font-size: 22px;
        font-weight: $bold;
    }

    & h4 {
        margin: 30px 0 30px 30px;
        font-family: 'shrikhand';
        font-size: 22px;
    }

    & i {
        margin-right: 10px;
        font-size: 18px;
    }

}