.liste {
        @include section;
        align-items: center;
        @include mobile {
            align-items: initial;
        }

        &__localisation {
            @include displayrow;

            @include mobile {
                background-color: $couleur-gris;
                font-size: 20px;
                box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
            }

            @include tablette {
                background-color: $couleur-gris;
                font-size: 20px;
                box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
                width: 100%;
                margin-bottom: 20px;
            }

            & p {
                font-weight: $bold;
            }
        }

        &__localisation i {
            margin-right: 20px;
        }

        &__reservation {
            @include displaycolumn;
            width: 30%;
            text-align: center;
            padding: 30px 20px 60px 20px;
            font-size: 15px;
            background-color: $couleur-gris;
            border-radius: $radius;
            @include light;

            @include mobile {
                width: auto;
                border-radius: 0;
            }

            @include tablette {
                width: 80%;
            }

            & h1 {
                font-weight: $bold;
            }

            & p {
                margin-top: 0;
                font-size: 19px;
            }
        }

        &__bouton {
            display: none;
            @include mobile {
                display: initial;
            @include btn;
            margin: 20px 0 0 0;

            &:hover, &:active {
                background: linear-gradient(175deg, $couleur-secondaire 100%, $couleur-primaire 70%);
            }
        }
    }
}

.fonctionnement {
        @include section;

        & h2 {
            margin: 60px 0 30px 100px;
            font-weight: $bold;

            @include mobile {
                margin: $margin-titre;
            }

            @include tablette {
                margin: $margin-titre;
            }
        }

        &__grandblock {
            @include displayrow;
            justify-content: space-around;
            margin-bottom: 80px;
            @include mobile {
                @include displaycolumn;
            }
        }

        &__block {
            @include displaycolumn;
            width: 20%;
            height: 200px;
            margin-bottom: 20px;
            background-color: $couleur-gris;
            @include light;
            border-radius: $radius;
            box-shadow: $shadow;
            transition: all 0.3s linear 0s;

            &:hover, &:active {
            @include light-secondaire;

            .fonctionnement__chiffre {
                /* animation: chiffre .5s linear alternate forwards; */
                transition: all 0.3s linear 0s;
                bottom: 40px;

                @include mobile { 
                    bottom: 0;
                }
            }
            }

            @include mobile {
                @include displayrow;
                justify-content: start;
                width: 85%;
                height: 70px;
            }

            @include tablette {
                width: 30%;
            }

            & p {
                font-weight: $bold;
            }
        }

        &__etape {
            position: relative;
            bottom: -50px;
            @include mobile {
                position: relative;
                bottom: 0;
                right: 20px;
                margin-left: 80px;
            }
        }

        &__chiffre {
            @include displaycolumn;
            position: relative;
            bottom: 60px;
            background-color: $couleur-primaire;
            color: white;
            height: 25px;
            width: 25px;
            border-radius: 80px;
            transition: all 0.3s linear 0s;

            @include mobile {
                position: relative;
                right: 12px;
                font-size: 14px;
                bottom: 0;
                transition: none;
            }
        }

        & i {
            position: relative;
            bottom: 0;
            font-size: 24px;

            @include mobile {
                position: relative;
                left: 30px;
                bottom: 0;
                color: grey;
                font-size: 18px;
            }
        }
}

.restaurant {

    background-color: $couleur-gris;
    @include light;
    padding: 10px 0 50px 0;

    & h2 {
        margin: 60px 0 30px 100px;
        font-weight: $bold;
        @include mobile {
            margin: $margin-titre;
        }

        @include tablette {
            margin: $margin-titre;
        }
    }

    & h3 {
        margin: 0 0 0 15px;
        font-weight: $bold;
    }

    & p {
        margin: 5px 0 0 15px;
    }

    &__nouveau {
        position: absolute;
        background-color: $couleur-tertiaire;
        padding: 8px 15px;
        border-radius: 3px;
        margin: 15px 0 0 15px !important;
        font-weight: $bold;
        @include dark;

        @include mobile {
            right: 30px;
        }
    }

    &__grandblock {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include mobile {
            flex-direction: column;
        }

        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 70px;

            @include mobile {
                margin-bottom: 20px;
            }
        }
    }

    &__petitblock {
        background-color: white;
        width: 800px;
        height: 500px;
        border-radius: 20px;
        box-shadow: $shadow;
        transition: all .3s ease-out;

        &:hover, &:active {
            transform: scale(1.03);
        }
        @include mobile {
            width: 90%;
            height: 250px;
        }
    }

    &__image img {
        height: 420px;
        width: 100%;
        object-fit: cover;
        border-radius: $radius-restaurant;
        margin: 0 0 5px 0;

        @include mobile {
            height: 170px;
        }
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heart {
        display: flex;
        padding: 0 20px 0 0;
        font-size: 30px;
        position: relative;
        

        &__contenu {
          transition: all 0.3s linear 0s;
          color: transparent;
          width: 100%;
          height: 0;
          position: absolute;
          left: 0;
          
          &:hover {
              height: 100%;
              color: $couleur-secondaire;
          }
        }
        &:hover, &:active {
        color: transparent;
        transition: all 0.3s linear 0s;
        }
    }
}