.liste {
    @include mobile {
        @include section;

        &__localisation {
            @include displayrow;
            background-color: $couleur-gris;
            font-size: 20px;
            box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
        }

        &__localisation i {
            margin-right: 20px;
        }

        &__reservation {
            @include displaycolumn;
            text-align: center;
            padding: 30px 20px 60px 20px;
            font-size: 16px;
            background-color: $couleur-gris;
            @include light;

            & p {
                margin-top: 0;
                font-size: 18px;
            }
        }

        &__bouton {
            @include btn;
            margin: 20px 0 0 0;
        }
    }
}

.fonctionnement {
    @include mobile {
        @include section;

        & h2 {
            margin: $margin-titre;
        }

        &__grandblock {
            @include displaycolumn;
            margin-bottom: 80px
        }

        &__block {
            @include displayrow;
            width: 85%;
            height: 70px;
            margin-bottom: 20px;
            background-color: $couleur-gris;
            @include light;
            border-radius: $radius;
            box-shadow: $shadow;
        }

        &__chiffre {
            @include displaycolumn;
            background-color: $couleur-primaire;
            color: white;
            height: 25px;
            width: 25px;
            border-radius: 80px;
            position: absolute;
            left: 15px;
            font-size: 14px;
        }

        & i {
            position: absolute;
            left: 65px;
            color: grey;
        }
    }
}

.restaurant {
    background-color: $couleur-gris;
    @include light;
    padding: 10px 0 40px 0;

    & h2 {
        margin: $margin-titre;
    }

    & h3, p {
        margin: 5px 0 0 15px;
    }

    &__nouveau {
        position: absolute;
        right: 30px;
        background-color: $couleur-tertiaire;
        padding: 8px 15px;
        border-radius: 3px;
        margin: 15px 0 0 15px !important;
        @include dark;
    }

    &__grandblock {
        @include displaycolumn;
    }

    &__petitblock {
        background-color: white;
        width: 90%;
        height: 250px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: $shadow;
    }

    &__image img {
        height: 170px;
        width: 100%;
        object-fit: cover;
        border-radius: $radius-restaurant;
        margin: 0 0 10px 0;
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__coeur {
    padding: 0 20px 0 0;
    font-size: 30px;
    }
}