.liste {
    @include mobile {
        display: flex;
        flex-direction: column;

        &__localisation {
            @include displayrow;
            background-color: $couleur-gris;
            font-size: 20px;
            box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
        }

        &__localisation i {
            margin-right: 20px;
        }

        &__reservation {
            @include displaycolumn;
            text-align: center;
            padding: 30px 20px 60px 20px;
            font-size: 16px;
            background-color: $couleur-gris;
            @include light;

            & p {
                margin-top: 0;
                font-size: 18px;
            }
        }

        &__bouton {
            @include btn;
            margin: 20px 0 0 0;
        }
    }
}