.image {
    @include mobile {
    display: flex;
    flex-direction: column;
    }

    & img {
        display: flex;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.menu {
        display: flex;
        flex-direction: column;
        background-color: $couleur-gris;
        @include light;
        border-radius: 50px 50px 0 0;
        margin-top: -80px;

        & > h3 {
            position: relative;
            text-transform: uppercase;
            margin: 50px 0 20px 600px;

            @include mobile {
                margin: 20px 0 20px 25px;
            }

            &:after {
                content: '';
                width: 50px;
                height: 3px;
                background: $couleur-tertiaire;
                position: absolute;
                left: 0px;
                bottom: -5px;

                @include mobile {
                    left: 0px;
                }
            }
        }

    &__titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px 0 25px;
        margin-top: 20px;

        & > h2 {
            @include police-titre;
            font-size: 26px;
        }

        & > i {
            font-size: 26px;
        }
    }

    &__liste {
    @include displaycolumn;
    }

    &__plat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        margin: 0 0 15px 0;
        width: 30%;
        height: 100px;
        border-radius: 15px;
        box-shadow: $shadow;

        @include mobile {
            display: initial;
            height: auto;
            width: 90%;
        }

        & > h3 {
            margin: 15px 0 0 9px;
            font-weight: $bold;
        }
    }

    &__description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
    }

    &__prix {
        @include displayrow;
        justify-content: space-between;
        margin: 0 10px;

        & > p {
            margin: 5px 10px 10px 0px;
            padding-bottom: 2px;
        }

        & > i {
            display: none;
        }
    }

    &__bold {
        font-weight: $bold;
    }
}

.commander {
    @include commander;
}

.bouton {
    @include displayrow;
}