.image {
    @include mobile {
    display: flex;
    flex-direction: column;
    }

    & img {
        display: flex;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.menu {
        display: flex;
        flex-direction: column;
        background-color: $couleur-gris;
        @include light;
        @include mobile {
        margin-top: -80px;
        border-radius: 50px 50px 0 0;
        }

        &__grandblock {
            display: flex;
            justify-content: space-around;

            @include mobile {
                flex-direction: column;
            }

            @include tablette {
                flex-direction: column;
            }
        }

        &__grandliste {
            display: flex;
            flex-direction: column;
            width: 20%;

            @include mobile {
                width: 100%;
            }

            @include tablette {
                width: 100%;
            }

            & > h3 {
                position: relative;
                margin: 50px 0 20px 0;
    
                @include mobile {
                    margin: 20px 0 20px 25px;
                }
    
                @include tablette {
                    margin: 20px 0 20px 20px;
                }
    
                &:after {
                    content: '';
                    width: 50px;
                    height: 3px;
                    background: $couleur-tertiaire;
                    position: absolute;
                    left: 0px;
                    bottom: -5px;
    
                    @include mobile {
                        left: 0px;
                    }
                }
            }
        }

    &__titre {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 35%;
        margin-top: 20px;
        @include mobile {
            justify-content: space-between;
            padding: 0 40px 0 25px;
            width: 80%;
        }
        @include tablette {
            justify-content: space-between;
            padding: 0 0 0 25px;
            width: 80%
        }

        & > h2 {
            @include police-titre;
            font-size: 26px;
        }

        & > i {
            font-size: 26px;
        }
    }

    &__liste {
    @include displaycolumn;
    margin: 0 0 100px 0;

    @include mobile {
        margin: 0;
    }
    }

    @for $i from 1 through 10 {
        .plats-#{$i} {
          animation-delay: ($i * 200) + 100ms;
        }
    }

    &__plat {
        opacity: 0;
        display: flex;
        background-color: white;
        width: 100%;
        height: 100px;
        border-radius: 15px;
        box-shadow: $shadow;
        cursor: pointer;
        margin: 0 0 20px 0;
        padding-left: 10px;
        animation: plat-apparition 2s cubic-bezier(.24,.68,.61,1.02) alternate forwards;
        &:hover, &:active {
            .menu__checkbox {
                @include displayrow;
                border-top-right-radius: nth($radius_anim, 3);
                border-bottom-right-radius: nth($radius_anim, 3);
                animation: checkbox-apparition 400ms linear alternate forwards;
                }
                i {
                  animation: checkspin 400ms linear alternate forwards;
                }
            .menu__plat {
              animation: plat 400ms linear alternate forwards;
            }
        }


        @include mobile {
            width: 90%;
            height: 80px;
        }

        @include tablette {
            width: 70%;
        }

        &  h3 {
            margin: 15px 0 0 0;
            font-weight: $bold;
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: calc(90%);
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            @include mobile {
                text-overflow: ellipsis;
            }
        }

        &__prix {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 10%;
            height: 100%;
            margin: 0 3% 0 3%;
            padding-bottom: 5px;
    
            & > p, & > h3 {
                margin: 5px 10px 10px 0px;
                padding-bottom: 2px;

                @include mobile {
                    margin: 0;
                    padding-bottom: 0;
                }
            }
    
        }
    }

    .menu__checkbox {
        opacity: 0;
        color: white;
        background: $couleur-tertiaire;
        width: 0;
        font-size: 1.5em;
        height: 100%;
    }

    &__description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
    }

    &__heart {
          display: flex;
          font-size: 30px;
          position: relative;

          &__contenu {
            transition: all 0.3s linear 0s;
            color: transparent;
            width: 100%;
            height: 0;
            position: absolute;
            left: 0;
            
            &:hover {
                height: 100%;
                color: $couleur-secondaire;
            }
          }
          
          &:hover {
          color: transparent;
          transition: all 0.3s linear 0s;
          }
      }

    &__bold {
        font-weight: $bold;
    }
}

.commander {
    display: none;
    @include mobile {
        display: initial;
    @include commander;

    &:hover, &:active {
        background: linear-gradient(175deg, $couleur-secondaire 100%, $couleur-primaire 70%);
    }
    }
}

.bouton {
    @include displayrow;
    margin-bottom: 100px;
    @include mobile {
        margin-bottom: 0;
    }
}

body {
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    background: $bg;
  }
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    &.learn-more {
        display: flex;
        flex-direction: row-reverse;
        width: 12rem;
        height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $couleur-primaire;
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 1.4rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              left: -0.09rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(225deg);
            }
          }
        }
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 20px;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $white;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
          background: $white;
          transform: translate(7rem, 0);
          }
        }
      }
      .button-text {
        color: $white;
      }
    }
  }