@keyframes plat {
    0% {
        width: 100%;
    }
    100% {
        width: 85%;
    }
}

@keyframes checkspin {
    0% {
         transform: rotate(0);
    } 
    100% {
         transform: rotate(1turn);
    }
 }

 @keyframes checkbox-apparition {
    0% {
        width: 0;
        opacity: 1;
        background: $couleur-tertiaire;
    }
    100% {
        opacity: 1;
        width: 15%;
        background: $couleur-tertiaire;
    }
}

@keyframes plat-apparition {
    0% {
        opacity: 0;
        transform: translateY(20px);

    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        transform-origin: bottom;
    }
}

@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  @keyframes disparition {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoom {
    0% {
        transform: scale(2);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}