@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        @content;
    }
}

@mixin section {
    display: flex;
    flex-direction: column;
}

@mixin displayrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin displaycolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    width: 250px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

@mixin commander {
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    border: none;
    font-size: 18px;
    color: white;
    margin: 50px 0 100px 0;
    font-family: 'roboto';
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

@mixin degrader_light {
    background: lighten($degrader, 10%);
}

@mixin light  {
    background: lighten($couleur-gris, 5%);
}

@mixin light-secondaire {
    background: lighten($couleur-secondaire, 10%);
}


@mixin dark {
    color: darken($couleur-tertiaire, 40%);
}

@mixin lightfooter {
    background-color: lighten(black, 20%);
}

@mixin police-titre {
    font-family: 'shrikhand';
}

@mixin heartactive {
    &:hover, &:active{
    cursor: pointer;
    animation:heart-appear 500ms cubic-bezier(.58,.12,.3,.93)  alternate forwards;
    }
  }

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
  }

@mixin bouton-anim {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    padding: $padding-bouton;
    transition: 0.5S;
}