@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin section {
    display: flex;
    flex-direction: column;
}

@mixin displayrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin displaycolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    width: 250px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(175deg, $couleur-secondaire 0%, $couleur-primaire 70%);
    border: none;
    font-size: 18px;
    color: white;
}

@mixin light  {
    background: lighten($couleur-gris, 5%);
}

@mixin dark {
    color: darken($couleur-tertiaire, 40%);
}