$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-gris : #e6e6e5;
$radius : 25px;
$radius-restaurant : 20px 20px 0 0;
$margin-titre : 60px 0 30px 15px;
$shadow : 0px 3px 8px rgba(0, 0, 0, 0.2);
$bold : bold;