$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-gris : #e6e6e5;
$white : #fff;
$radius : 25px;
$radius-restaurant : 20px 20px 0 0;
$margin-titre : 60px 0 30px 15px;
$shadow : 0px 3px 8px rgba(0, 0, 0, 0.2);
$bold : bold;
$radius_anim: 30px 35px 15px;
$degrader: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
$bg: #f3f8fa;
$white: #fff;
$black: #9356DC;
$padding-bouton: 15px;
$transition-bouton: .5s;